---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$base-line-height: 1;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base/base",
        "base/fonts",
        "base/typography",
        "vendors/normalize"
;
