<div id="contact">
    <div class="page-container">
        <h2>Get in touch</h2>
        <div class="contact-text">
            <p>If you would like to discuss a potentional career opportunity, I'd love to hear from you. Check out my Github and Linkedin and then get in touch via your preferred contact method.</p>
            <p><strong>Phone:</strong><a href="tel:+61423082781">0423 082 781</a></p>
            <p><strong>Email:</strong><a href="mailto:admin@patrickroberts.io">admin@patrickroberts.io</a></p>
            <a href="mailto:admin@patrickroberts.io"><i class="fa fa-envelope-square fa-5x"></i></a>
            <a href="http://github.com/PatrickRoberts93"><i class="fa fa-github-square fa-5x"></i></a>
            <a href="http://www.linkedin.com/in/patrickroberts93/"><i class="fa fa-linkedin-square fa-5x"></i></a>
        </div>
        <form action="https://formspree.io/patrickroberts93@gmail.com" method="POST">
            <p>Name</p>
            <input type="text" name="name">
            <p>Email Address</p>
            <input type="email" name="_replyto">
            <input type="hidden" name="_subject" value="Website contact" />
            <p>Phone Number</p>
            <input type="text" name="phone">
            <input type="text" name="_gotcha" style="display:none" />
            <p>Your Message</p>
            <textarea name="message"></textarea>
            <input type="submit" value="Send">
        </form>
    </div>
</div>
