.blog, .post {
  background-color: #F0F0F0;

  p {
    color: #000;
  }

  a {
    color: #2a7ae2;
  }
  nav a {
    color: #FFF;
  }

}

.blog-header{
    background: rgb(41, 41, 41);
    padding: 0 1em 1em 1em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.blog-title {
  text-align: center;
  padding: 1em;
}

.post-list {
  background-color: #FFF;
  padding: 3em;
  border: 1px solid #D3D3D3;
  border-radius: 15px;
  margin: 3em 0;
  li {
    list-style: none;
  }

  a {
    color: #2a7ae2;

    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }

}

article.post {
    background-color: #FFF;
    padding: 3em;
    border-radius: 15px;
    margin: 3em 0;

    li {
      list-style: none;
    }

    .post-header {
      margin: 2em 0 1em 0;
    }
  }

.post-title {
  color: #000;
}
