nav {
  position: absolute;
  top: 0;
  padding: 1em 0;
  ul li {
    position: relative;
    display: inline;
    list-style: none;
    padding: 0 1em 10px 0;
  }
  li {
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border: 0;
      height: 2px;
      width: 0;
      transition: width 0.2s ease-out;
      background-color: #FFF;
    }

    &:hover:before {
      width: 30px;
    }
  }
}

.blog, .post {
  nav {
    position: relative;
  }
}


@media screen and (max-width: 480px) {
  nav {
    text-align: center;
    width: 100%;
    left: 0;

    ul li {
      font-size: 1.3em;
      padding: 6px 6px;
      background: #000;

      &:hover:before {
        width: 100%;
      }
    }

  }
}
