.scroll-top{
	position: fixed;
	display: none;
	bottom: 40px;
	right: 40px;

	img {
		width: 40px;
	}

	@media screen and (max-width: $phone) {
		bottom: 5px;
		right: 5px;
		
		img {
			width: 20px;
		}
	}
}

.scroll-top:hover{
	opacity: 0.8;
}
