---
layout: blog
---

<div class="blog-header">
{% include navbar.html %}

<h2 class="blog-title">Patrick Roberts - Blog</h2>

</div>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <a href="{{ " /blog " | prepend: site.baseurl }}">Back to Blog</a>
  <div class="post-header">
    <h3 class="post-title" itemprop="name headline">{{ page.title }}</h3>
  </div>
  <div class="post-content" itemprop="articleBody">
    <div class="table-responsive">
      {{ content }}
    </div>
  </div>
</article>
